dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config

# The License is going to stay GPL v3. Any changes are just formatting.
LICENSE

# Hidden files
.*

# emacs files
*~
\#*
